p {
    color: cornflowerblue;
}

p {
    color: red;
    width: 500px;
    border: 1px solid black
}

p,
li,
h1 {
    color: red;
}

html {
    font-size: 10px; /
    font-family: "Open sans", sans-sherif

}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    border: 5px dashed #6c0000;

    img {
        display: block;
        margin: 0 auto;
        width: 300px
    }
}